body {
  margin: 0;
  font-family: var(--fonts);
  background-color: var(--background-color)
}

#table-wrapper {
  width: 1690px;
  margin-top: 10px;
  margin-left: 230px;
}


#events {
  border-collapse: collapse;
  border-color: var(--border-color);
  width: 78%;
  margin: 0 auto;
}


#events td, #events th {
  border: 1px solid #ddd;
  padding: 8px;
}


#events tr:nth-child(even) {
  background-color: var(--table-row-2);
}


#events tr:nth-last-child(n+2):hover {
  background-color: var(--table-row-hover);
}


#events th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--table-header-background);
  color: var(--table-header-text);
}


#form_row {
  background-color: var(--table-row-2);
}


#sidebar {
  box-sizing: border-box;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: var(--border-color);
  width: 230px;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  top: 0;
  left: 0;
  float: left;
  background-color: var(--sidebar-background);
  z-index: 1;
}


#sidebar img {
  display: block;
  height: 50px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}


#sidebar .nav-button {
  float: left;
  display: block;
  text-align: left;
  margin: 15px 25px;
  text-decoration: none;
  line-height:30px;
  font-size: 17px;
  width: 180px;
  height: 30px;
  background-color: var(--sidebar-button-background);
  color: var(--sidebar-button-text);
}


#sidebar .nav-button div {
  padding-left: 10px;
}


#sidebar .nav-button:hover {
  background-color: var(--sidebar-button-background-hover);
  color: var(--sidebar-button-text-hover);
}


#sidebar .nav-watermark {
  z-index: 2;
  position: absolute;
  width:230px;
  text-align: center;
  bottom: 10px;
}


#sidebar .nav-watermark a {
  text-decoration: none;
  color: #747474;
}


#sidebar .nav-watermark a:hover {
  color: black;
}
