body {
  margin: 0;
  font-family: var(--fonts);
}


#events {
  font-family: var(--fonts);
  borderless-collapse: collapse;
  width: 100%;
}


#events td, #events th {
  border: 1px solid #ddd;
  padding: 8px;
}


#events tr:nth-child(even) {
  background-color: var(--table-row-2);
}


#events tr:nth-last-child(n+2):hover {
  background-color: var(--table-row-hover);
}


#events th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--table-header-background);
  color: var(--table-header-text);
}


#form_row {
  background-color: var(--table-row-2);
}
