<!DOCTYPE html>
<html>

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=dvice-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/colorsheet.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    {% block head %}{% endblock %}


  </head>

  <body>

    {% block body %}{% endblock %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/input.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/current_time.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/submit.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/popup.js') }}"></script>
  </body>

</html>
